@mixin common-styles {
  // 按鈕統一樣式
  button {
    border: none;
    cursor: pointer;
  }

  header {
    width: 100%;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;

    // 開啟 <aside>
    #openSidebarButton {
      position: absolute;
      top: 30%;
      left: 10%;
      font-size: large;
    }
  }
  main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;

    // To Do 輸入區塊
    .input-container {
      width: 85%;
      margin: 0 auto;
      // To Do Form
      #todoForm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        padding: 1rem;
        // 輸入框
        input[type="text"] {
          flex-grow: 1;
          padding: 0.5rem;
          border: none;
        }
        // 新增按鈕
        #addButton {
          margin-left: 0.5rem;
          padding: 0.5rem 1rem;
        }
      }
    }

    // To Do 項目放置區塊 (未勾選 / 已勾選)
    .todolist-container,
    .todo-completed-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem 0;
      // To Do 項目
      .todolist-item {
        width: 80%;
        display: flex;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        // 勾選欄
        input[type="checkbox"] {
          margin: 0 0.5rem;
        }
        // 文字區塊
        .text-area {
          flex-grow: 1;
        }
        button.flag-button {
          background-color: inherit;
          color: black;
          margin: 0 0.5rem;
          padding: 0.2rem 0.5rem;
          font-size: large;
        }
        // 刪除按鈕
        button.delete-button {
          margin: 0 0.5rem;
          padding: 0.2rem 0.5rem;
        }
      }
    }

    // 已勾選區塊
    .todo-completed-container {
      display: none;

      h3 {
        width: 80%;
        margin-bottom: 0.5rem;
        text-align: left;
      }
    }
  }

  aside {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;

    // 關閉 <aside>
    #closeSidebarButton {
      position: relative;
      top: 4%;
      left: 80%;
      border: none;
      font-size: large;
      cursor: pointer;
    }

    // 選單設定
    .setting-list {
      margin-top: 1.5rem;
      padding: 0.5rem;
      text-align: center;
      list-style-type: none;

      // 選單內容
      li {
        margin-bottom: 1.5rem;

        // 控制文字樣式
        span.selectorStyle {
          width: 100%;
          margin: auto;
          margin-bottom: 1rem;
          padding: 0.5rem;
          border-radius: 5px;
          list-style-type: none;
        }

        // 子選單設定
        .sub-setting-list {
          display: none;
          width: 100%;
          margin: 0.5rem 0;
          list-style-type: none;
          text-align: center;

          li {
            width: 80%;
            margin: 0.3rem 0;
            padding: 0.2rem 0;
          }
        }
        // 顯示子選單
        .sub-setting-list.show {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  // 開啟 <aside> 時的設定
  main.move-right,
  header.move-right {
    margin-left: 35%;
    width: calc(100% - 35%);
  }
  aside.move-left {
    width: 35%;
  }

  // 主題預覽設定
  div.theme-preview {
    width: 80%;
    height: 80%;
    position: relative;
    top: 20%;
    left: 35%;
    z-index: 10;

    canvas {
      border: 1px solid red;
    }
  }
}
