.default-theme {
  background-color: #f4f4f4;
}
.default-theme button {
  background-color: #333;
  color: #fff;
}
.default-theme header {
  background-color: #333;
  color: white;
}
.default-theme main .input-container #todoForm input#inputText[type=text] {
  background-color: #f4f4f4;
  border-bottom: 1px solid gray;
}
.default-theme main .todolist-container .todolist-item,
.default-theme main .todo-completed-container .todolist-item {
  border: 1px solid #ccc;
  background-color: white;
}
.default-theme main .todo-completed-container h3 {
  color: gray;
}
.default-theme aside {
  background-color: #333;
  color: white;
}
.default-theme button {
  border: none;
  cursor: pointer;
}
.default-theme header {
  width: 100%;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.default-theme header #openSidebarButton {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: large;
}
.default-theme main {
  flex-grow: 1;
  width: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}
.default-theme main .input-container {
  width: 85%;
  margin: 0 auto;
}
.default-theme main .input-container #todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
}
.default-theme main .input-container #todoForm input[type=text] {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
}
.default-theme main .input-container #todoForm #addButton {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
}
.default-theme main .todolist-container,
.default-theme main .todo-completed-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}
.default-theme main .todolist-container .todolist-item,
.default-theme main .todo-completed-container .todolist-item {
  width: 80%;
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.default-theme main .todolist-container .todolist-item input[type=checkbox],
.default-theme main .todo-completed-container .todolist-item input[type=checkbox] {
  margin: 0 0.5rem;
}
.default-theme main .todolist-container .todolist-item .text-area,
.default-theme main .todo-completed-container .todolist-item .text-area {
  flex-grow: 1;
}
.default-theme main .todolist-container .todolist-item button.delete-button,
.default-theme main .todo-completed-container .todolist-item button.delete-button {
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
}
.default-theme main .todo-completed-container {
  display: none;
}
.default-theme main .todo-completed-container h3 {
  width: 80%;
  margin-bottom: 0.5rem;
  text-align: left;
}
.default-theme aside {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}
.default-theme aside #closeSidebarButton {
  position: relative;
  top: 4%;
  left: 80%;
  border: none;
  font-size: large;
  cursor: pointer;
}
.default-theme aside .setting-list {
  margin-top: 1.5rem;
  padding: 0.5rem;
}
.default-theme aside .setting-list li {
  width: 70%;
  margin: 0 auto;
  list-style-type: none;
}
.default-theme aside .setting-list li #toggleThemeButton {
  width: 100%;
  padding: 0.2rem 0;
  font-size: large;
}
.default-theme aside .setting-list li .sub-setting-list {
  display: none;
  width: 100%;
  margin: 0.5rem 0;
  list-style-type: none;
}
.default-theme aside .setting-list li .sub-setting-list li > button {
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.2rem 0;
}
.default-theme aside .setting-list li .sub-setting-list.show {
  display: block;
}
.default-theme main.move-right,
.default-theme header.move-right {
  margin-left: 35%;
  width: 65%;
}
.default-theme aside.move-left {
  width: 35%;
}

.light-theme {
  background-color: #f2ead3;
}
.light-theme button {
  background-color: #3f2305;
  color: #f5f5f5;
}
.light-theme header {
  background-color: #3f2305;
  color: #f5f5f5;
}
.light-theme main .input-container #todoForm input#inputText[type=text] {
  border-bottom: 1px solid #3f2305;
  background-color: #f2ead3;
}
.light-theme main .todolist-container .todolist-item,
.light-theme main .todo-completed-container .todolist-item {
  border: 1px solid #ccc;
  background-color: white;
}
.light-theme main .todo-completed-container h3 {
  color: #3f2305;
}
.light-theme aside {
  background-color: #dfd7bf;
  color: white;
}
.light-theme aside #closeSidebarButton {
  background-color: #dfd7bf;
}
.light-theme aside button {
  background-color: #dfd7bf;
  color: #3f2305;
  font-weight: bold;
}
.light-theme aside .setting-list li #toggleThemeButton {
  background-color: #f2ead3;
}
.light-theme aside .setting-list li .sub-setting-list {
  background-color: #dfd7bf;
}
.light-theme aside .setting-list li .sub-setting-list li button :hover {
  background-color: #dfd7bf;
}
.light-theme button {
  border: none;
  cursor: pointer;
}
.light-theme header {
  width: 100%;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.light-theme header #openSidebarButton {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: large;
}
.light-theme main {
  flex-grow: 1;
  width: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}
.light-theme main .input-container {
  width: 85%;
  margin: 0 auto;
}
.light-theme main .input-container #todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
}
.light-theme main .input-container #todoForm input[type=text] {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
}
.light-theme main .input-container #todoForm #addButton {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
}
.light-theme main .todolist-container,
.light-theme main .todo-completed-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}
.light-theme main .todolist-container .todolist-item,
.light-theme main .todo-completed-container .todolist-item {
  width: 80%;
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.light-theme main .todolist-container .todolist-item input[type=checkbox],
.light-theme main .todo-completed-container .todolist-item input[type=checkbox] {
  margin: 0 0.5rem;
}
.light-theme main .todolist-container .todolist-item .text-area,
.light-theme main .todo-completed-container .todolist-item .text-area {
  flex-grow: 1;
}
.light-theme main .todolist-container .todolist-item button.delete-button,
.light-theme main .todo-completed-container .todolist-item button.delete-button {
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
}
.light-theme main .todo-completed-container {
  display: none;
}
.light-theme main .todo-completed-container h3 {
  width: 80%;
  margin-bottom: 0.5rem;
  text-align: left;
}
.light-theme aside {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}
.light-theme aside #closeSidebarButton {
  position: relative;
  top: 4%;
  left: 80%;
  border: none;
  font-size: large;
  cursor: pointer;
}
.light-theme aside .setting-list {
  margin-top: 1.5rem;
  padding: 0.5rem;
}
.light-theme aside .setting-list li {
  width: 70%;
  margin: 0 auto;
  list-style-type: none;
}
.light-theme aside .setting-list li #toggleThemeButton {
  width: 100%;
  padding: 0.2rem 0;
  font-size: large;
}
.light-theme aside .setting-list li .sub-setting-list {
  display: none;
  width: 100%;
  margin: 0.5rem 0;
  list-style-type: none;
}
.light-theme aside .setting-list li .sub-setting-list li > button {
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.2rem 0;
}
.light-theme aside .setting-list li .sub-setting-list.show {
  display: block;
}
.light-theme main.move-right,
.light-theme header.move-right {
  margin-left: 35%;
  width: 65%;
}
.light-theme aside.move-left {
  width: 35%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */