// 字體相關定義
@import "fonts";

// 通用樣式
@import "common-style";

// 主題樣式
@import "default-theme";
@import "light-theme";
@import "night-theme";
@import "nature-theme";

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
