// 通用樣式
@mixin common-styles {
  button {
    border: none;
    cursor: pointer;
  }
  header {
    width: 100%;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
    #openSidebarButton {
      position: absolute;
      top: 30%;
      left: 10%;
      font-size: large;
    }
  }
  main {
    flex-grow: 1;
    width: 100%;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;

    .input-container {
      width: 85%;
      margin: 0 auto;
      #todoForm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        padding: 1rem;
        input[type="text"] {
          flex-grow: 1;
          padding: 0.5rem;
          border: none;
        }
        #addButton {
          margin-left: 0.5rem;
          padding: 0.5rem 1rem;
        }
      }
    }

    .todolist-container,
    .todo-completed-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem 0;
      .todolist-item {
        width: 80%;
        display: flex;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        input[type="checkbox"] {
          margin: 0 0.5rem;
        }
        .text-area {
          flex-grow: 1;
        }
        button.delete-button {
          margin: 0 0.5rem;
          padding: 0.2rem 0.5rem;
        }
      }
    }

    .todo-completed-container {
      display: none;

      h3 {
        width: 80%;
        margin-bottom: 0.5rem;
        text-align: left;
      }
    }
  }
  aside {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;

    #closeSidebarButton {
      position: relative;
      top: 4%;
      left: 80%;
      border: none;
      font-size: large;
      cursor: pointer;
    }

    .setting-list {
      margin-top: 1.5rem;
      padding: 0.5rem;
      text-align: center;

      li {
        #toggleThemeButton {
          width: 100%;
          margin: auto;
          padding: 0.5rem;
          border-radius: 5px;
          list-style-type: none;
        }

        .sub-setting-list {
          display: none;
          width: 100%;
          margin: 0.5rem 0;
          list-style-type: none;
          text-align: center;

          li {
            width: 80%;
            margin: 0.3rem 0;
            padding: 0.2rem 0;
          }
        }
        .sub-setting-list.show {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  main.move-right,
  header.move-right {
    margin-left: 35%;
    width: calc(100% - 35%);
  }
  aside.move-left {
    width: 35%;
  }
}
// 主題樣式
.default-theme {
  background-color: #f4f4f4;
  .button-group,
  header {
    background-color: #333;
    color: white;
  }
  main {
    .input-container {
      #todoForm {
        input#inputText[type="text"] {
          background-color: #f4f4f4;
          border-bottom: 1px solid gray;
        }
      }
    }
    .todolist-container,
    .todo-completed-container {
      .todolist-item {
        border: 1px solid #ccc;
        background-color: white;
      }
    }
    .todo-completed-container {
      h3 {
        color: gray;
      }
    }
  }
  aside {
    background-color: #333;
    color: white;

    #closeSidebarButton {
      background-color: inherit;
      color: inherit;
    }

    .setting-list li #toggleThemeButton,
    .sub-setting-list li {
      &:hover {
        background-color: #969393;
      }
    }
  }
  @include common-styles;
}

.light-theme {
  background-color: #f2ead3;

  .button-group,
  header {
    background-color: #3f2305;
    color: #f5f5f5;
  }

  main {
    .input-container #todoForm input#inputText[type="text"] {
      border-bottom: 1px solid #3f2305;
      background-color: #f2ead3;
    }

    .todolist-container,
    .todo-completed-container {
      .todolist-item {
        border: 1px solid #ccc;
        background-color: white;
      }
    }

    .todo-completed-container {
      h3 {
        color: #3f2305;
      }
    }
  }

  aside {
    background-color: #dfd7bf;
    color: rgb(48, 47, 47);

    #closeSidebarButton {
      background-color: inherit;
      color: inherit;
    }

    .setting-list li #toggleThemeButton,
    .sub-setting-list li {
      &:hover {
        background-color: #c8bb95;
      }
    }
  }
  @include common-styles;
}

.night-theme {
  background-color: black;

  .button-group {
    background-color: white;
    color: black;
  }

  header {
    background-color: black;
    color: white;
    border-bottom: 1px solid white;

    #openSidebarButton {
      background-color: black;
      color: white;
    }
  }

  main {
    .input-container {
      #todoForm {
        input#inputText[type="text"] {
          border-bottom: 1px solid white;
          background-color: black;
          color: white;
        }
      }
    }

    .todolist-container,
    .todo-completed-container {
      .todolist-item {
        border: 1px solid white;
        background-color: black;
        color: white;
      }
    }

    .todo-completed-container {
      h3 {
        color: white;
      }
    }
  }

  aside {
    background-color: rgb(39, 39, 39);
    color: white;
    border-right: 1px solid white;

    #closeSidebarButton {
      background-color: inherit;
      color: inherit;
    }

    .setting-list li #toggleThemeButton,
    .sub-setting-list li {
      &:hover {
        background-color: rgb(132, 130, 130);
      }
    }
  }

  @include common-styles;
}

.nature-theme {
  background-color: #cfff8d;

  .button-group {
    background-color: #749f82;
    color: #cfff8d;
  }

  header {
    background-color: #425f57;
    color: #a8e890;
    border-bottom: 1px solid #749f82;

    #openSidebarButton {
      background-color: #425f57;
      color: #a8e890;
    }
  }

  main {
    .input-container {
      #todoForm {
        input#inputText[type="text"] {
          border-bottom: 1px solid #749f82;
          background-color: #cfff8d;
        }
      }
    }

    .todolist-container,
    .todo-completed-container {
      .todolist-item {
        border: 3px solid #a8e890;
      }
    }

    .todo-completed-container {
      h3 {
        color: #749f82;
      }
    }
  }

  aside {
    background-color: #749f82;
    color: white;

    #closeSidebarButton {
      background-color: inherit;
      color: inherit;
    }

    .setting-list li #toggleThemeButton,
    .sub-setting-list li {
      &:hover {
        background-color: #96d3ae;
      }
    }
  }

  @include common-styles;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.theme-preview {
  width: 80%;
  height: 80%;
  position: relative;
  top: 20%;
  left: 35%;
  z-index: 10;

  canvas {
    border: 1px solid red;
  }
}
